<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete tasks</title>
</head>
<body>
    <p>Here you can delete all the existing tasks that contain a provided string</p>
    <p>Existing tasks: </p>
    <ul>
        {% for task in tasks_list %}
            <li>{{ task }}</li>
        {% endfor %}
    </ul>

    {% if substring_for_delete!="" %}
        <p><b style="color:green;">Removal successfully performed!</b></p>

    {% else %}
        <form action="{{ url_for('delete_task') }}" method="post">
            <p>
                <label>Type the substring you want to use to remove all tasks that contain it:  <input type="text" name="substring_for_delete"></label>
                <input type="submit" value="Enter">
            </p>
        </form>
    {% endif %}

<p><a href="{{ url_for('index') }}">Come back home</a></p>
</body>
</html>