<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <p>Here you can insert a new task</p>

    {% if string_for_insertion!="" %}
        <p><b style="color:green;">Insertion successfully performed!</b></p>

    {% else %}
        <form action="{{ url_for('insert_task') }}" method="post">
            <p>
                <label>Type the new task:  <input type="text" name="string_for_insertion"></label>
                <label>Is it urgent?  <input type="checkbox" name="urgent_for_insertion"></label>
                <input type="submit" value="Enter">
            </p>
        </form>
    {% endif %}


<p><a href="{{ url_for('index') }}">Come back home</a></p>
</body>
</html>